*.pdf
*.jpg
*.png
*.log
*.fls
*.aux
*.fdb_latexmk
*.html
scripts/variables/
scripts/quicktexfiles/content.tex
/.config/cef_user_data/
/.templates/cpp/.build/
/.templates/cpp/myproj
/.config/xfce4/
/.config/pavucontrol.ini
/.config/pulse/
/.config/nvim/plugged/
/.config/QtProject.conf
/.config/discordcanary/
/.config/gtk-3.0/bookmarks
/.config/zoomus.conf
/.config/obs-studio/
/.config/orage/
/.config/pavucontrol-qt/
/.config/qBittorrent/
/.config/quodlibet/
/.config/scribus/
/.config/strawberry/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/viewnior/
/.config/whoozle.github.io/
/.config/xfce4-dict/
/.config/nvim/colors/kurzzug-dev.vim
/.config/nvim/colors/kurzzug.vim
/.config/nvim/lua/.lush_template.lua
/.config/nvim/lua/kurzzug-dev.lua
/.config/BraveSoftware/
/.config/Clementine/
/.config/Mattermost/
/.config/MusicBrainz/
/.config/Notepadqq/
/.config/Seafile/
/.config/Thunar/
/.config/cantorrc
/.config/chromium/
/.config/gajim/
/.config/guvcview2/
/.config/inkscape/
/.config/keepassxc/
/.config/libreoffice/
/.config/neofetch/
/scripts/.vars/
/.config/configstore/
/.config/weechat/alias.conf
/.config/weechat/buflist.conf
/.config/weechat/charset.conf
/.config/weechat/exec.conf
/.config/weechat/fifo.conf
/.config/weechat/fset.conf
/.config/weechat/guile.conf
/.config/weechat/irc.conf
/.config/weechat/logger.conf
/.config/weechat/lua.conf
/.config/weechat/perl.conf
/.config/weechat/plugins.conf
/.config/weechat/python.conf
/.config/weechat/relay.conf
/.config/weechat/ruby.conf
/.config/weechat/script.conf
/.config/weechat/sec.conf
/.config/weechat/spell.conf
/.config/weechat/tcl.conf
/.config/weechat/trigger.conf
/.config/weechat/xfer.conf
/.config/GIMP/
/.config/Mousepad/
/.config/asciinema/
/.config/audacious/
/.config/autokey/
/.config/dconf/
/.config/gnuplot/
/.config/gpick/
/.config/gtk-2.0/
/.config/kwalletrc
/.config/manjaro/
/.config/pamac/
/.config/yuzu/
/.config/dayplan/days/
/.config/nvim/plugin/
/.local/lib/
/.local/bin/
.gitsecret/keys/random_seed
!*.secret
.bash_secrets
.config/qutebrowser/bookmarks/urls
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/quickmarks
.config/dayplan/config.yaml
/.local/state/
/.local/share/
/.config/nvim/lazy-lock.json
/.config/nvim/lua/.luarc.json
/.config/discord/
/.config/xournalpp/autosave/
/.config/xournalpp/metadata/
/.config/caddy/
/.config/darktable/
/.config/Nextcloud/
/.config/Microsoft/
/.config/zoom.conf
/.config/whatsapp/
/.config/tmux/plugins/
/.config/sqlitebrowser/
/.config/syncthing/
/.config/obsidian/
/.config/kdeconnect/
/.config/JetBrains/
/.config/GitKraken/
/.config/Code - OSS/
/.config/Signal/
/.config/LanguageTool/
/.config/Podman Desktop/
/.config/autostart/
/.config/cat_installer/
/.config/cni/
