[user]
    email = ja_he@uni-bremen.de
    name = Jan Hensel

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    side-by-side = true
    light = false

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[alias]
    graph = log --branches --decorate --oneline --graph
    ui = "!f() { nvim -c ':Gedit :'; }; f"
[merge]
	tool = meld
[pull]
	rebase = false
