*.pdf
*.jpg
*.png
*.log
*.fls
*.aux
*.fdb_latexmk
*.html
.scripts/variables/
.scripts/quicktexfiles/content.tex
/.config/cef_user_data/
/.templates/cpp/.build/
/.templates/cpp/myproj
/.config/xfce4/
/.config/pavucontrol.ini
/.config/pulse/
/.config/nvim/plugged/
/.config/QtProject.conf
/.config/discordcanary/
/.config/gtk-3.0/bookmarks
/.config/zoomus.conf
/.config/obs-studio/
/.config/orage/
/.config/pavucontrol-qt/
/.config/qBittorrent/
/.config/quodlibet/
/.config/scribus/
/.config/strawberry/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/viewnior/
/.config/whoozle.github.io/
/.config/xfce4-dict/
/.config/nvim/colors/kurzzug-dev.vim
/.config/nvim/colors/kurzzug.vim
/.config/nvim/lua/.lush_template.lua
/.config/nvim/lua/kurzzug-dev.lua
/.config/BraveSoftware/
/.config/Clementine/
/.config/Mattermost/
/.config/MusicBrainz/
/.config/Notepadqq/
/.config/Seafile/
/.config/Thunar/
/.config/cantorrc
/.config/chromium/
/.config/gajim/
/.config/guvcview2/
/.config/inkscape/
/.config/keepassxc/
/.config/libreoffice/
/.config/neofetch/
/.scripts/.vars/
/.config/configstore/
