[user]
  email = ja_he@uni-bremen.de
  name = Jan Hensel

[core]
  pager = delta
  # fsmonitor = true
  # untrackedCache = true
  # excludesfile = ~/.gitignore

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  side-by-side = true
  light = false

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[alias]
  graph = log --branches --decorate --oneline --graph
  ui = "!f() { nvim -c ':Gedit :'; }; f"
[merge]
  tool = meld
  conflictstyle = zdiff3 

[pull]
  rebase = false

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[column]
  # ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  # autocorrect = prompt

[commit]
  verbose = true

[rerere]
  enabled = true
  autoupdate = true
