[character]
#symbol = "â¯"
symbol = ">"
use_symbol_for_status = true

[directory]
truncation_length = 4
truncate_to_repo = true
disabled = false

[cmd_duration]
min_time = 2000
show_milliseconds=true
